* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
 background-color: rgb(24, 39, 19);
}

.navbar {
  text-align: center;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main {
  background-color: rgb(26, 31, 56);
}

.footer {
  background-color: rgb(54, 26, 42);
  text-align: center;
}

body {
  min-height: 100vh;
  background-color: rgb(30, 12, 77);
  background-image: url(../../articles/img/krotovaya-nora.jpg), url(../../articles/img/quasar.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0, 50% 50%;
  background-size: 200px 200px, cover;
  color: rgb(8, 49, 163);
  font-size: 0.8em;
}

h1 {
  color: rgb(61, 85, 85);
}